<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Анкета пользователя</title>
</head>
<body>
 <div class="container">
        <h1>Анкета пользователя</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="city">Город:</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Хобби:</label>
                <input type="text" class="form-control" id="hobby" name="hobby" required>
            </div>
            <div class="form-group">
                <label for="age">Возраст:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

     <h2>Анкеты пользователей</h2>
        {% for anketa in ankets %}

        <div class="anketa">
            <h4>{{ anketa.name }}</h4>
            <p>{{ anketa.city }}</p>
            <p>{{ anketa.hobby }}</p>
            <p>{{ anketa.age }}</p>
        </div>
        {% endfor %}


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>