.cards-container {
    display: flex;
    justify-content: center;  /* выравнивание по центру */
    align-items: flex-start;   /* выравнивание элементов по верхнему краю */
    flex-wrap: wrap;           /* перенос элементов на новую строку при нехватке места */
    gap: 20px;                 /* расстояние между карточками */
}



.card {
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: Peru;
  }


.card img {
    width: 100%;               /* ширина изображения, чтобы оно занимало всю ширину карточки */
    height: auto;              /* автоматическая высота изображения */
}
.card img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб изображения при наведении */
  }

h1 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

.card-info {
    padding: 10px;          /* внутренний отступ для текстовой информации */
}

card-info h2 {
    margin: 10px 0;
    font-size: 18px;
  }

.card-info p {
    margin: 5px 0;
  }