.card{
   width: 400px;
   height: 650px;
   background-color: burlywood;
   border-radius: 60px;
}

.photo{
      height: 40%;
      padding:40px;
      # padding - это внутренний отступ
      # Для внешних отступов используется margin
}

.info{
      height: 40%;
      padding:40px;
}

img{
      position: relative;
      left:20%;
      border-radius: 20px;

}